@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(5, 97, 92);
}

header{
    background-color: rgb(216, 12, 12);
    color: rgb(255, 255, 255);
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}


section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem{
    background-color: rgb(52, 58, 58);
    background-image: url(../Cordel/imagens/background002.jpg);
    color: white;
}

section.imagem > p{
    background-color: black;
    width: 398px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}